@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 150px 1fr 150px;
    grid-template-areas: 
    "header header header"
    "section section section"
    "footer footer footer";
}

header {
    text-align: center;
    padding-top : 50px;

    grid-area : header;
}

section {
    display: flex;
    justify-content: space-between;

    padding: 5%;
    grid-area: section;
}

footer {
    grid-area: footer;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    font-size: 0.9em;
    margin: 25px;
}
